@import 'fonts.css';

body {
  background:lightgray;
  margin: 0 0;
  width:1400px

}

.container {
  border: 1px dotted rgb(54, 53, 53);

}

ul, li {
  display: block;
  padding: 0;
  margin: 0;
}

.menu-bar {
  color: #212121;
  padding: 50px 0px;
  background: #ffffff;
  font-family: 'Open Sans Semibold';
  letter-spacing: 1px;
}

.menu {
 /*  width: 680px; */
  margin: 0px;
}

.menu__item {
  margin-left: 33px;
}

.menu__item a {
  font-size: 20px;
  color: #212121;
}

.menu__item a:hover {
  text-decoration: none;
  color: #868686
}

/* ШАПКА */

.header {
  width: 1400px;
  height: 659px;
  background-size: cover;
  background-position: 0 100%;
  color: white;
  text-align: center;
  padding-top: 180px;
  padding-bottom: 185px;
  background-image: url(../img/header.png);
}

.header__title {
  font-size: 60px;
  letter-spacing: 2px;
  font-family: 'Open Sans Regular';
}

.header__text {
  font-family: 'Open Sans Semibold';
  font-size: 22px;
  letter-spacing: 1.2px;
  margin-top: 18px;
  margin-bottom: 90px;
}


.button {
  padding: 10px 25px;
  font-family: 'Open Sans';
  font-weight: bolder;
  margin: 0 10px;
  font-size: 20px;
  color: white;
  transition: 0.5s;
}

.button_empty {
  width: 221px;
  height: 71px;
  background-color: transparent;
  border: 2px solid white;
  
}

.button_full {
  width: 221px;
  height: 71px;
  background-color: transparent;
  border: 2px solid white;
}

.button_empty:hover,
 .button_full:hover {
  background-color: #00897B;
  border: 2px solid #00897B;
}

/* ABOUT */

.about {
  background-color: #ffffff;
  /* height: 672px; */
  text-align: center;
  padding-top: 115px;
  padding-bottom: 125px;
}

.about__title {
  font-size: 30px;
  font-family: 'Open Sans';
  font-weight: bolder;
  padding-bottom: 36px;

}

.about__text {
  font-size: 15px;
  margin-bottom: 100px;
}

.about_h3 {
  padding-top: 21px;
  padding-bottom: 30px;
  font-family: 'Open Sans';
  font-weight: bolder;
}

/* OUR Services */

.services {
  background-color: #ccffff;
  text-align: center;
  padding-top: 165px;
  padding-bottom: 105px;
}

.our-service-box {
  background: #fff;
  padding: 60px 50px 70px;
  transition: 0.3s;
  margin-bottom: 30px;
}

.our-service-box:hover {
  background: #00897B;
  color: white;
  box-shadow: 0px 10px 12px 3px rgba(0, 0, 0, 0.26)
}

.our-service-box .cell-fone {
  background: url(../img/cell_fone_bl.png) no-repeat;
  height: 62px;
  width: 56px;
 /*  display: block; */
  transition: 0.3s;
  padding: auto;
   margin-left: 45%;
}


.our-service-box:hover .cell-fone {
  background: url(../img/cell_fone_w.png) no-repeat;
  height: 62px;
  width: auto;
  /* display: block; */
}

.button-our-services {
  text-transform: uppercase;
  border: 3px solid black;
  background: transparent;
  font-family: 'Open Sans';
  font-weight: bolder;
  font-size: 20px;
  padding: 13px 11px;
  letter-spacing: 2px;
  margin-top: 40px;
  transition: 0.3s;
}

.our-service-box:hover .button-our-services {
  border: 3px solid #fff;
  color: #fff;
}

.button-our-services {
  cursor: poointer;
}

/* LATEST WORK */

.portfolio {
  text-align: center;
  padding-top: 120px;
  padding-bottom: 135px;
  background-color: #ffffff;
}


.button_works {
  background-color: transparent;
  border: 2px solid #00897B;
  color: #212121
}


.button_works:hover, .focused {
  background-color: #00897B;
  border: 2px solid #00897B;
  color: #fff
}

.portfolio img {
  max-width: 100%;
  margin-bottom: 30px;

}

.filter {
  padding: 120px 0;
}

div[filter]:hover img {
  filter: brightness(50%);
  transition: 0.3s;
}

.text {
  display: none;
}

div[filter]:hover .text {
  display: block;
  width: 100%;
  color: #fff;
  position: absolute;
  top: 40%;
  left: 0;
  z-index: 4;
  text-align: center;
}


/* PRICING *********************** */

.pricing {
  padding-top: 165px;
  padding-bottom: 125px;
  color: black;
  background: #f0f1f1;
  text-align: center;
}

.price {
  transition: 0.5s;
  background: #fff;
  margin-bottom: 20px;
}

.price:hover {
  box-shadow: 0px 0px 11px 3px rgba(0, 0, 0, 0.39);
}

.price__head {
  color: white;
  padding-top: 40px;
  padding-bottom: 65px;
  background-image: url(../img/pricing_bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  max-height: 211px;
}

.price__head p {
  font-size: 25px;
}

.price__head {
  font-size: 50px;
}

.price__head sub {
  vertical-align: middle;
  font-size: 17px;
}

.price__head sup {
  vertical-align: middle;
  font-size: 25px;
}

.price__body {
  font-size: 17px;
  color: #212121;
}

.price__body ul li {
  padding-top: 28px;
  padding-bottom: 12px;
  margin: 0 auto;
  max-width: 175px;
  border-bottom: 1px solid #bfbfbf;
}

.price__footer {
  padding: 60px 0;
}

.price__footer button {
  cursor: pointer;
  color: #212121;
  background: transparent;
  width: 180px;
  height: 60px;
  font-size: 20px;
  border: 2px solid #212121;
  transition: 0.3s;
}

.price__footer button:hover {
  text-transform: uppercase;
  color: white;
  background: #00897b;
  border: none;
}



/* Команда */
.team {
  padding-top: 165px;
  padding-bottom: 125px;
  color: black;
  background: #fff;
  text-align: center;
}

.team h4 {
  margin-top: 30px;
  font-size: 20px;
  font-family: 'Open Sans Semibold';
}

.team p {
  font-size: 15px;
  margin-bottom: 30px;
}

.icons {
  display: flex;
  justify-content: center;
}

.icons a i {
  transition: 0.3s;
}

.icons i:nth-child(1) {
  color: #f0f1f1;
}

.icons i:nth-child(2) {
  color: #00897b;
}

.icons a:hover i:nth-child(1) {
  color: #3949ab;
}

.icons a:hover i:nth-child(2) {
  color: #fff;
}

/* устранение бага лишнего края картинки */
.team img {
  margin: 0 auto;
  max-width: 340px;
}

.multiple-items {
  margin-top: 125px;
}

/* стили для новигации слайдера */
.dots-style {
  margin-top: 115px;
  display: flex;
  justify-content: center;
}

/* стили для точек слайдера */
.dots-style button {
  background: #00897b;
  border: none;
  border-radius: 50%;
  font-size: 0;
  height: 15px;
  width: 15px;
  margin: 5px;
}

.dots-style li[class="slick-active"] button {
  background: #3949ab;
}